/* --------------- Обшие стили --------------- */
body {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
}

.container {
  outline: 2px solid blue;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* --------------- Кнопки --------------- */

.btn {
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  text-decoration: none;
  line-height: 18px;
  padding: 16px 40px;
  border-radius: 3px;
}

.btn-slider {
  padding: 16px 55px;
}

.btn-red {
  background-color: #fb565a;
}

.btn-red:hover {
  background-color: #e74246;
}

.btn-red:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.btn-green {
  background-color: #00ca74;
}

.btn-green:hover {
  background-color: #00bc6c;
}

.btn-green:active {
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 0 #009958;
}

.btn-yellow {
  background-color: #efc84a;
}

.btn-yellow:hover {
  background-color: #eab534;
}

.btn-yellow:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 0 #ce961f;
}

.btn-grey {
  color: #000;
  background-color: #eeeeee;
}

.btn-grey:hover {
  background-color: #dfdfdf;
}

.btn-grey:active {
  color: #959595;
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.btn-write-us {
  padding: 16px 44px;
}

.catalog-paginator {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
  outline: 2px solid green;
}

.catalog-paginator li {
  display: inline-block;
}

.paginator {
  display: inline-block;
  color: #000;
  background-color: #eeeeee;
  width: 50px;
  height: 50px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  border-radius: 3px;
  margin-right: 10px;
}

.paginator:hover {
  background-color: #dfdfdf;
}

.paginator:active {
  color: #959595;
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.paginator-current,
.pagintor-current:hover,
.paginator-current:active {
  color: #000;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 2px;
  box-shadow: inset 3px 3px rgb(238, 238, 238),
              inset -3px -3px rgb(238, 238, 238);
}

.paginator-current:hover {
  background-color: #fff;
}

.paginator a {
  text-decoration: none;
}

.paginator-next {
  width: 260px;
}

/* --------------- header section --------------- */


.main-header {
  background-color: #eeeeee;
  margin-bottom: 50px;
}

.shop-main-header {
  margin-bottom: 59px;
}

.main-header h1 {
  display: inline-block;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 108px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  vertical-align: top;
  text-align: center;
}

.main-navigation {
  outline: 2px solid green;
  display: flex;
  justify-content: space-between;
  padding-top: 48px;

  text-transform: uppercase;
}

.main-header-logo {
  outline: 2px solid orange;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation {
  margin: 0;
  outline: 2px solid orange;
  list-style: none;
  margin-top: 29px;
  width: 568px;
}

.site-navigation-item {
  outline: 2px solid gold;
  display: inline-block;
  margin-right: 39px;
  margin-left: 3px;
}

.site-navigation-item a, .header-cart-link {
  color: #000;
}

.site-navigation-item a, .header-cart-link {
  text-decoration: none;
}

.site-navigation-item a:hover, .header-cart-link:hover {
  color: #fb565a;
}

.site-navigation-item a:active, .header-cart-link:active {
  color: #000000;
  opacity: 0.3;
}

.navigation-item-current a {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 8px;
}

.header-cart {
  outline: 2px solid orange;
  margin-top: 30px;
  position: relative;
}

.header-cart::before {
  content: "";

  position: absolute;
  top: 3px;
  right: 99px;

  width: 18px;
  height: 18px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
}

.header-cart-link {
  outline: 2px solid gold;
}

/* --------------- slider section --------------- */
.slider {
  outline: 2px solid green;
  background-color: #eeeeee;
}

.slide-text {
  display: inline-block;
}

.slide-text h3 {
  margin-top: 71px;
  margin-bottom: 26px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000;
}

.slide-text p {
  color: #283136;
  margin-bottom: 40px;
}

.iphone-img {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  height: 431px;
  background-position: 433px 13px;
}

/* --------------- features section --------------- */

.features {
  outline: 2px solid green;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 40px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.features-item {
  outline: 2px solid orange;
  width: 300px;
  margin-right: 100px;
}

.features-item .btn {
  margin-bottom: 80px;
}

.features-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-top: 19px;
  color:  #000;
  text-transform: uppercase;
}

.features-item p {
  margin-bottom: 33px;
}

/* --------------- about section --------------- */

.about {
  outline: 2px solid green;
  border-bottom: 2px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  margin-bottom: 68px;
}

.about-us {
  margin: 0;
  margin-top: 32px;
  font-size: 45px;
  line-height: 45px;
  color: #000;
}

.about-description {
  outline: 2px solid orange;
  margin-bottom: 45px;
  width: 680px;
}

.about-description p {
  margin: 0;
  margin-top: 35px;
}

.about-description h3 {
  margin: 0;
  margin-top: 38px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.stats-header {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  margin-top: 29px;
  margin-left: 3px;
  text-align: center;
}

.about-stats {
  /* margin-top: 28px; */
  width: 360px;
  outline: 2px solid orange;
}

.development-list {
  margin: 0;
  margin-top: 12px;
  list-style: none;
}

.development-item {
  line-height: 48px;
}

.development-item::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  margin: 0 8px 4px -37px;
}

.stats-table {
  margin-top: 10px;
}

.stats-table th {
  font-size: 45px;
  line-height: 10px;
  font-weight: bold;
  color: #000;
}

.stats-table th sup {
  top: -10px;
}


/* --------------- logos section --------------- */

.logos {
  outline: 2px solid green;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 80px;
}

.logos-list {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}

.logos-item {
  outline: 2px solid orange;
  opacity: 0.2;
}

.logos-item:hover {
  opacity: 1;
}

.logos-item:active {
  opacity: 0.1;
}

/* --------------- maps section --------------- */

.map {
  position: relative;
  margin-bottom: 70px;
}

.map iframe {
  width: 100%;
  height: 416px;
  border: 0;
}

.map-img {
  display: block;
  margin:  0 auto;
}

.map-write-us {
  /* display: none; */
  position: absolute;
  bottom: 54px;
  left: 60px;
  width: 270px;
  height: 308px;
  background-color: #fff;
  text-align: left;
  padding-left: 52px;
}

.map-write-us h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
  margin-top: 45px;
  margin-bottom: 23px;
}

.map-write-us p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.phone {
  margin-bottom: 40px;
}

.map-marker {
  position: absolute;
  bottom: 70px;
  left: 370px;
}

/* --------------- footer section --------------- */

.main-footer {
  outline: 2px solid green;
}

.footer-flex {
  display: flex;
}

.social {
  outline: 2px solid orange;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 280px;
  margin-right: 120px;
}

.social li {
  display: inline-block;
}

.social-btn {
  display: inline-block;
  width: 78px;
  height: 78px;
  background-color: #e1e1e1;
  margin-right: 10px;
  vertical-align: top;
  text-align: center;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-btn:hover {
  background-color: #e74246;
}

.social-btn:active {
  background-color: #d7373b;
}

.social-btn-vk {
  background-image: url("../img/vk-icon.svg");
}

.social-btn-fb {
  background-image: url("../img/fb-icon.svg");
}

.social-btn-in {
  background-image: url("../img/insta-icon.svg");
}

.promo-text {
  outline: 2px solid orange;
}

.footer-promo {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #000;
}

footer p {
  color: #444444;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-top: 10px;
}

/* --------------- modal-write-us section --------------- */

.modal-write-us h2 {
  font-size: 45px;
  line-height: 45px;
  color: #000;
}

.label-text, .label-email {
  line-height: 18px;
  font-weight: bold;
  color: #000;
}

/* --------------- catalog section --------------- */

.catalog-left {
  outline: 2px solid green;
  margin-right: 140px;
}

.catalog-left form {
  width: 260px;
}

.catalog-left h3 {
  margin: 0;
}

.catalog-sort {
  outline: 2px solid green;
  display:  flex;
  justify-content: space-between;
  align-items: center;
}

.sort-types {
  margin-left: 209px;
}

.sort-types a {
  display: inline-block;
  padding: 0 7px 0 15px;
  vertical-align: top;
  list-style: none;
}

.catalog-items {
  margin-top: 47px;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  outline: 2px solid green;
}

.catalog-item {
  position: relative;
  outline: 2px solid orange;
  margin-bottom: 33px;
  background-repeat: no-repeat;
}

.catalog-item::before {
  opacity:  .12;
  content: "";
  display:block;
  height: 40px;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item-info {
  position: absolute;
  bottom: 2px;
  min-height: 231px;
  padding-top: 10px;
  box-sizing: border-box;
  text-align: center;
  background-color: #eee;
  width: 100%;
  display: none;
}

.catalog-item-info h3 {
  font-size: 18px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

.catalog-item-info p {
  line-height: 18px;
  color: #666666;
  display: block;
}

.catalog-item:hover .catalog-item-info {
  display: block;
}

.catalog-item figure {
  margin: 0;
  line-height: 0;
}

.cost {
  display: block;
}

.cost .cost-header {
  margin-top: 4px;
  margin-bottom: 53px;
}

.range-controls {
  position: relative;
  padding: 39px 20px;
  margin-bottom: 16px;
  background: #eeeeee;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0px;

  width: 18px;
  height: 18px;

  background: #ababab;
  border: 8px solid white;
  border-radius: 50%;
  box-shadow: 0 3px 1px 0 #cfcfcf;

  cursor: pointer;
}

.range-controls .toggle-min {
  left: 19px;
  box-sizing: border-box;
}

.range-controls .toggle-max {
  left: 160px;
  box-sizing: border-box;
}

.form-group ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-header {
  margin-top: -8px;
}

.cost h3,
.form-group h3,
.sort-header {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.cost .label-text {
  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
}

.form-group .label-radio,
.form-group .label-checkbox {
  line-height: 20px;
  color: #283136;
}

.sort-item {
  font-size: 14px;
  line-height: 18px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.3;
}

.sort-item:hover {
  opacity: 0.6;
}

.sort-item:active,
.sort-item-selected {
  opacity: 1;
}

.catalog-arrows {
  display: inline-block;
}

.arrow:first-child {
  margin-right: 15px;
}

a.arrow {
  display: inline-block;
  /* margin: 0 10px; */
  font-size: 0;
}

.arrow::before {
  display: inline-block;
  content: "";
  border: 11px solid #000;
  opacity: 0.3;
  border-right-width: 6px;
  border-left-width: 6px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.arrow-up::before {
  border-top-width: 0;
}

.arrow-down::before {
  border-bottom-width: 0;
}

.arrow:hover::before {
  opacity: 0.6;
}

.arrow:active::before,
.arrow-current::before {
  opacity: 1;
}

.modal-write-us, .slide-hidden {
  display: none;
}

.catalog-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}


