/* --------------- Обшие стили --------------- */

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  color: #283136;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}


/* --------------- Кнопки --------------- */

.btn {
  line-height: 18px;

  display: inline-block;

  padding: 16px 40px;

  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border-radius: 3px;
}

.btn-slider {
  padding: 17px 55px;
}

.btn-red {
  background-color: #fb565a;
}

.btn-red:hover {
  background-color: #e74246;
}

.btn-red:active {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 0 #c13135;
          box-shadow: inset 0 3px 0 0 #c13135;
}

.btn-green {
  background-color: #00ca74;
}

.btn-green:hover {
  background-color: #00bc6c;
}

.btn-green:active {
  background-color: #00aa62;
  -webkit-box-shadow: inset 0 3px 0 0 #009958;
          box-shadow: inset 0 3px 0 0 #009958;
}

.btn-yellow {
  background-color: #efc84a;
}

.btn-yellow:hover {
  background-color: #eab534;
}

.btn-yellow:active {
  background-color: #e5a722;
  -webkit-box-shadow: inset 0 3px 0 0 #ce961f;
          box-shadow: inset 0 3px 0 0 #ce961f;
}

.btn-grey {
  color: #000;
  background-color: #eee;
}

.btn-grey:hover {
  background-color: #dfdfdf;
}

.btn-grey:active {
  color: #959595;
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px 0 0 #bfbfbf;
          box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.btn-write-us {
  padding: 16px 44px;
}

.btn-price {
  padding: 16px 61px;
}

.btn-send {
  margin-top: 45px;
  margin-bottom: 15px;
  padding: 17px 80px;

  border: 0;
}

.catalog-paginator {
  margin: 0;
  margin-top: 25px;
  padding: 0;

  list-style: none;
}

.catalog-paginator li {
  display: inline-block;
}

.paginator {
  line-height: 54px;

  display: inline-block;

  width: 50px;
  height: 50px;
  margin-right: 7px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #000;
  border-radius: 3px;
  background-color: #eee;
}

.paginator:hover {
  background-color: #dfdfdf;
}

.paginator:active {
  color: #959595;
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px 0 0 #bfbfbf;
          box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.paginator-current,
.pagintor-current:hover,
.paginator-current:active {
  width: 50px;
  height: 50px;

  color: #000;
  border-radius: 2px;
  background-color: #fff;
  -webkit-box-shadow: inset 3px 3px #eee,
  inset -3px -3px #eee;
          box-shadow: inset 3px 3px #eee,
  inset -3px -3px #eee;
}

.paginator-current:hover {
  background-color: #fff;
}

.paginator a {
  text-decoration: none;
}

.paginator-next {
  width: 260px;
}


/* --------------- header section --------------- */

.main-header {
  margin-bottom: 79px;

  background-color: #eee;
}

.shop-main-header {
  margin-bottom: 59px;
}

.main-header h1 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;

  display: inline-block;

  width: 100%;
  margin-top: 70px;
  margin-bottom: 108px;

  text-align: center;
  vertical-align: top;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding-top: 48px;

  text-transform: uppercase;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-header-logo:hover {
  opacity: .8;
}

.main-header-logo:active {
  opacity: .3;
}

.site-navigation {
  width: 568px;
  margin: 0;
  margin-top: 29px;
  padding: 0;
  padding-left: 20px;

  list-style: none;
}

.site-navigation-item {
  display: inline-block;

  margin-right: 39px;
  margin-left: 3px;
}

.site-navigation-item a,
.header-cart-link {
  color: #000;
}

.site-navigation-item a,
.header-cart-link {
  text-decoration: none;
}

.site-navigation-item a:hover,
.header-cart-link:hover {
  color: #fb565a;
}

.site-navigation-item a:active,
.header-cart-link:active {
  opacity: .3;
  color: #000;
}

.navigation-item-current a {
  padding-bottom: 9px;

  border-bottom: 2px solid #fb565a;
}

.header-cart {
  position: relative;

  margin-top: 30px;
}

.header-cart::before {
  position: absolute;
  top: 3px;
  right: 96px;

  width: 18px;
  height: 18px;

  content: '';

  background-image: url('../img/cart-icon.svg');
  background-repeat: no-repeat;
}


/* --------------- slider section --------------- */

.slider {
  background-color: #eee;
}

.slide-text {
  display: inline-block;

  padding-bottom: 80px;
}

.slide-text h3 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;

  margin-top: 71px;
  margin-bottom: 26px;

  color: #000;
}

.slide-text p {
  margin-bottom: 40px;

  color: #283136;
}

.iphone-img {
  background-image: url('../img/slide1.png');
  background-repeat: no-repeat;
  background-position: 433px 13px;
}

.slider-dots {
  display: none;
}


/* --------------- features section --------------- */

.features {
  margin-bottom: 40px;

  border-bottom: 2px solid #eee;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  margin-left: 1px;
  padding: 0;

  list-style: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.features-item {
  width: 300px;
  margin-right: 100px;
}

.features-item .btn {
  margin-bottom: 80px;
}

.features-item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;

  margin: 0;
  margin-top: 19px;

  text-transform: uppercase;

  color: #000;
}

.features-item p {
  margin-bottom: 32px;
}


/* --------------- about section --------------- */

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 51px;

  border-bottom: 2px solid #eee;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-us {
  font-size: 45px;
  line-height: 45px;

  margin: 0;
  margin-top: 32px;

  color: #000;
}

.about-description {
  width: 680px;
  margin-bottom: 62px;
}

.about-description p {
  margin: 0;
  margin-top: 35px;
}

.about-description h3 {
  font-size: 16px;
  font-weight: bold;

  margin: 0;
  margin-top: 38px;

  text-transform: uppercase;
}

.stats-header {
  font-size: 16px;
  font-weight: bold;

  margin: 0;
  margin-top: 29px;
  margin-left: 3px;

  text-align: center;
  text-transform: uppercase;
}

.about-stats {
  width: 360px;
}

.development-list {
  margin: 0;
  margin-top: 12px;

  list-style: none;
}

.development-item {
  line-height: 48px;
}

.development-item::before {
  display: inline-block;

  width: 25px;
  height: 2px;
  margin: 0 10px 4px -38px;

  content: '';

  background-color: #fb565a;
}

.stats-percent {
  position: relative;

  width: 120px;

  list-style: none;
}

.stats-percent b {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;

  display: inline-block;

  margin: 0;
  margin-top: 25px;
  margin-left: -39px;
  padding: 0;

  list-style: none;

  vertical-align: top;

  color: #000;
}

.stats-percent sup {
  font-size: 28px;
  font-weight: bold;

  color: #000;
}

.stats-percent p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  width: 98px;
  margin: 0;
  margin-top: 18px;
  margin-left: -39px;
  padding: 0;

  color: #000;
}

.stats-percent li:nth-child(2) {
  position: absolute;
  top: 0;
  left: 159px;
}

.stats-percent li:last-child {
  position: absolute;
  top: 0;
  left: 279px;
}



/* --------------- logos section --------------- */

.logos {
  margin-bottom: 80px;

  border-bottom: 2px solid #eee;
}

.logos-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  margin-bottom: 33px;
  padding: 0;

  list-style: none;

  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logos-item {
  opacity: .2;
}

.logos-item:hover {
  opacity: 1;
}

.logos-item:active {
  opacity: .1;
}


/* --------------- maps section --------------- */

.map {
  position: relative;

  margin-bottom: 65px;
}

.map iframe {
  width: 100%;
  height: 416px;

  border: 0;
}

.map-img {
  display: block;

  margin: 0 auto;
}

.map-write-us {
  position: absolute;
  bottom: 61px;
  left: 60px;

  width: 320px;
  height: 308px;
  padding-left: 51px;

  text-align: left;

  background-color: #fff;
}

.map-write-us h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;

  margin-top: 49px;
  margin-bottom: 23px;

  color: #000;
}

.map-write-us p {
  font-size: 16px;
  line-height: 18px;

  color: #666;
}

.phone {
  margin-bottom: 40px;
}

.map-marker {
  position: absolute;
  bottom: 107px;
  left: 48.7%;
}


/* --------------- footer section --------------- */


.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 50px;
}

.social {
  width: 280px;
  margin: 0;
  margin-right: 120px;
  padding: 0;

  list-style: none;
}

.social li {
  display: inline-block;
}

.social-btn {
  display: inline-block;

  width: 78px;
  height: 78px;
  margin-right: 10px;

  text-align: center;
  vertical-align: top;

  border-radius: 50%;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-btn:hover {
  background-color: #e74246;
}

.social-btn:active {
  background-color: #d7373b;
}

.social-btn-vk {
  background-image: url('../img/vk-icon.svg');
}

.social-btn-fb {
  background-image: url('../img/fb-icon.svg');
}

.social-btn-in {
  background-image: url('../img/insta-icon.svg');
}

.footer-promo {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;

  display: inline-block;

  margin: 0;
  margin-top: 4px;

  color: #000;
}

footer p {
  font-size: 16px;
  line-height: 22px;

  margin: 0;
  margin-top: 10px;

  color: #444;
}


/* --------------- modal-write-us section --------------- */


.modal-write-us {
  position: fixed;
  bottom: 176px;
  left: 50%;

  display: none;

  width: 960px;
  margin-left: -483px;
  padding: 70px 100px;

  color: #000;
  background-color: #fff;
  box-shadow: 0 20px 50px rgba(0, 0, 0, .7);
}

.modal-close {
  font-size: 0;

  position: absolute;
  top: 80px;
  right: 90px;

  width: 22px;
  height: 22px;

  cursor: pointer;

  opacity: .3;
  border: 0;
  background-color: transparent;
  background-image: url('../img/close-cross.svg');
  background-repeat: no-repeat;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: .1;
}

.modal-write-us h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;

  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.write-us-form label {
  font-weight: bold;

  display: block;
}

.user-info {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.user-info .name {
  width: 360px;
  margin: 0;
  margin-right: 10px;
}

.input-text,
.input-email,
.input-textarea {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  width: 360px;
  margin: 0;
  padding: 10px 15px;

  color: rgba(0, 0, 0, .1);
  border: 2px solid rgba(0, 0, 0, .1);
  border-radius: 5px;
}

.input-text:hover,
.input-email:hover,
.input-textarea:hover {
  border: 2px solid rgba(0, 0, 0, .4);
}

.input-text:focus,
.input-email:focus,
.input-textarea:focus {
  color: #000;
  border: 2px solid #000;
}

.input-text:invalid,
.input-email:invalid {
  color: #e74246;
  border: 2px solid #e74246;
}

.textarea-wide {
  width: 760px;
  height: 120px;

  resize: none;
}

.textarea-input {
  margin: 0;
  margin-top: 35px;
}

/* --------------- catalog section --------------- */


.catalog {
  margin-bottom: 62px;
}

.catalog-flex {
  display: -moz-flex;
  display:  -ms-flex;
  display:   -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display:      flex;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog-left {
  margin-right: 140px;
}

.catalog-left form {
  width: 260px;
}

.catalog-left h3 {
  margin: 0;
}

.catalog-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sort-types {
  margin-left: 209px;
}

.sort-types a {
  display: inline-block;

  padding: 0 7px 0 15px;

  list-style: none;

  vertical-align: top;
}

.catalog-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-top: 47px;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog-item {
  position: relative;

  margin-bottom: 33px;

  background-repeat: no-repeat;
}

.catalog-item img {
  border: 1px solid #eee;
}

.catalog-item::before {
  display: block;

  height: 40px;

  content: '';

  opacity: .12;
  background-image: url('../img/browser.svg');
  background-repeat: no-repeat;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item-info {
  position: absolute;
  bottom: 2px;

  display: none;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 231px;
  padding-top: 10px;

  text-align: center;

  background-color: #eee;
}

.catalog-item-info h3 {
  font-size: 18px;
  line-height: 30px;

  margin: 0;
  margin-top: 18px;

  text-transform: uppercase;

  color: #000;
}

.catalog-item-info p {
  line-height: 18px;

  display: block;

  margin-bottom: 30px;

  color: #666;
}

.catalog-item:hover .catalog-item-info {
  display: block;
}

.catalog-item figure {
  line-height: 0;

  margin: 0;
}

.catalog-image img {
  border: 1px solid #eee;
}

.cost {
  display: block;
}

.cost .cost-header {
  margin-top: 4px;
  margin-bottom: 55px;
}

.range-controls {
  position: relative;

  margin-bottom: 14px;
  padding: 39px 20px;

  border-radius: 5px;
  background: #eee;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 18px;
  height: 18px;

  cursor: pointer;

  border: 8px solid white;
  border-radius: 50%;
  background: #ababab;
  -webkit-box-shadow: 0 3px 1px 0 #cfcfcf;
          box-shadow: 0 3px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 19px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  display: inline-block;

  width: 50%;

  vertical-align: top;
  text-transform: uppercase;
}

.price-min {
  text-align: left;
}

.price-min span {
  margin-right: 7px;
  margin-left: 1px;
}

.price-max {
  text-align: right;
}

.price-max span {
  margin-right: 8px;
}

.price-controls input {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  width: 80px;
  padding: 8px 9px 8px 11px;

  text-align: center;
  vertical-align: baseline;
  text-transform: uppercase;

  border: none;
  border-radius: 5px;
  background: #eee;
}

.form-group {
  margin: 0;
  margin-top: 58px;
  padding: 0;
}

.form-group input {
  display: none;
}

.form-group ul {
  margin: 0;
  padding: 0;
  padding-left: 37px;

  list-style: none;
}

.form-group p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;

  position: relative;

  display: block;

  margin: 0;
  margin-top: 18px;
  padding: 0;
  padding-left: 37px;
}

.sort-header {
  margin-top: -8px;
}

.cost h3,
.form-group h3,
.sort-header {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;

  text-transform: uppercase;

  color: #000;
}

.form-group h3 {
  margin-top: 45px;
}

.cost .label-text {
  line-height: 22px;

  text-transform: uppercase;

  color: #283136;
}

.form-group .label-radio,
.form-group .label-checkbox {
  line-height: 20px;

  cursor: pointer;

  color: #283136;
}

.form-group .label-radio::before {
  position: absolute;
  top: 1px;
  left: 1px;

  width: 25px;
  height: 25px;

  content: '';

  opacity: .4;
  background-image: url('../img/radio-off.svg');
  background-repeat: no-repeat;
}

.form-group input[type='radio']:checked + .label-radio::before {
  position: absolute;
  top: 3px;
  left: 1px;

  width: 25px;
  height: 25px;

  content: '';

  opacity: .4;
  background-image: url('../img/radio-on.svg');
  background-repeat: no-repeat;
}

.form-group .label-checkbox::before {
  position: absolute;
  top: 1px;
  left: 1px;

  width: 25px;
  height: 25px;

  content: '';

  opacity: .4;
  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
}

.form-group input[type='checkbox']:checked + .label-checkbox::before {
  position: absolute;
  top: 3px;
  left: 1px;

  width: 25px;
  height: 25px;

  content: '';

  opacity: .4;
  background-image: url('../img/checkbox-on.svg');
  background-repeat: no-repeat;
}

.form-group .label-radio:hover::before,
.form-group .label-checkbox:hover::before,
.form-group input[type='checkbox']:hover + .label-checkbox::before,
.form-group input[type='radio']:hover + .label-radio::before {
  opacity: 1;
}

.catalog-left button[type='submit'] {
  line-height: 20px;

  margin-top: 37px;
  padding: 16px 88px;

  border: 0;
}

.sort-item {
  font-size: 14px;
  line-height: 18px;

  text-decoration: none;
  text-transform: uppercase;

  opacity: .3;
  color: #000;
}

.sort-item:hover {
  opacity: .6;
}

.sort-item:active,
.sort-item-selected {
  opacity: 1;
}

.catalog-arrows {
  display: inline-block;
}

.arrow:first-child {
  margin-right: 14px;
}

a.arrow {
  /* margin: 0 10px; */
  font-size: 0;

  display: inline-block;
}

.arrow::before {
  display: inline-block;

  content: '';

  opacity: .3;
  border: 11px solid #000;
  border-right-width: 6px;
  border-right-color: transparent;
  border-left-width: 6px;
  border-left-color: transparent;
}

.arrow-up::before {
  border-top-width: 0;
}

.arrow-down::before {
  border-bottom-width: 0;
}

.arrow:hover::before {
  opacity: .6;
}

.arrow:active::before,
.arrow-current::before {
  opacity: 1;
}

.slide-hidden {
  display: none;
}
